# Byte-compiled files
__pycache__/
*.py[cod]

# Virtual environment
venv/
env/

# Package managers
Pipfile
Pipfile.lock
poetry.lock

# Build artifacts
*.egg-info/
dist/
build/

# Environment variables
.env
*.env

# IDE and editor-specific files
.vscode/
.idea/
*.swp
*.swo

# OS-specific files
.DS_Store
Thumbs.db

# Logs
*.log
logs/
